{
  "openapi": "3.1.0",
  "info": {
    "title": "Agentokratia x402 Facilitator",
    "description": "Payment verification and settlement API for the x402 protocol. Supports both exact (pay-per-call) and escrow (session-based) payment schemes.",
    "version": "1.0.0",
    "contact": {
      "name": "Agentokratia",
      "url": "https://github.com/agentokratia/x402-escrow"
    }
  },
  "servers": [
    {
      "url": "https://facilitator.agentokratia.com",
      "description": "Facilitator API (supports both Base Mainnet and Base Sepolia)"
    }
  ],
  "paths": {
    "/api/supported": {
      "get": {
        "operationId": "getSupported",
        "summary": "List supported schemes",
        "description": "Returns the list of payment schemes supported by this facilitator. No authentication required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Supported payment schemes and configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/verify": {
      "post": {
        "operationId": "verifyPayment",
        "summary": "Verify payment",
        "description": "Verifies a payment payload without executing on-chain. Used by servers to validate payments before serving content.",
        "security": [{ "apiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/settle": {
      "post": {
        "operationId": "settlePayment",
        "summary": "Execute payment settlement",
        "description": "Executes the payment. For exact scheme, transfers funds immediately. For escrow scheme, creates or charges a session.",
        "security": [{ "apiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settlement result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or payment error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettleError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key (ak_live_xxx or ak_test_xxx) from the dashboard"
      }
    },
    "schemas": {
      "SupportedResponse": {
        "type": "object",
        "description": "Supported payment schemes and facilitator configuration",
        "properties": {
          "kinds": {
            "type": "array",
            "description": "List of supported payment scheme configurations",
            "items": {
              "type": "object",
              "properties": {
                "x402Version": {
                  "type": "integer",
                  "description": "x402 protocol version"
                },
                "scheme": {
                  "type": "string",
                  "enum": ["exact", "escrow"],
                  "description": "Payment scheme type"
                },
                "network": {
                  "type": "string",
                  "description": "CAIP-2 network identifier (e.g., eip155:8453)"
                },
                "asset": {
                  "type": "string",
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "description": "Token contract address (USDC)"
                },
                "extra": {
                  "type": "object",
                  "description": "Scheme-specific configuration"
                }
              }
            }
          },
          "extensions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Supported protocol extensions"
          },
          "signers": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Authorized signer addresses by network"
          }
        },
        "example": {
          "kinds": [
            {
              "x402Version": 2,
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "extra": { "name": "USD Coin", "version": "2" }
            },
            {
              "x402Version": 2,
              "scheme": "escrow",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "extra": {
                "facilitator": "0x...",
                "escrowContract": "0x...",
                "tokenCollector": "0x...",
                "minDeposit": "5000000",
                "maxDeposit": "100000000"
              }
            }
          ],
          "extensions": ["agentokratia"],
          "signers": {
            "eip155:8453": ["0x..."]
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "reason": {
            "type": "string",
            "description": "Machine-readable error code"
          }
        }
      },
      "SettleError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "error": {
            "type": "string"
          },
          "reason": {
            "type": "string",
            "enum": ["invalid_signature", "invalid_session_token", "session_expired", "insufficient_balance"],
            "description": "Machine-readable error code"
          }
        }
      },
      "VerifyRequest": {
        "type": "object",
        "required": ["paymentPayload", "paymentRequirements"],
        "properties": {
          "paymentPayload": {
            "$ref": "#/components/schemas/PaymentPayload"
          },
          "paymentRequirements": {
            "$ref": "#/components/schemas/PaymentRequirements"
          }
        }
      },
      "VerifyResponse": {
        "type": "object",
        "properties": {
          "isValid": {
            "type": "boolean",
            "description": "Whether the payment is valid"
          },
          "invalidReason": {
            "type": "string",
            "description": "Reason for invalid verification (only if isValid=false)"
          },
          "payer": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "The payer's wallet address"
          }
        },
        "example": {
          "isValid": true,
          "payer": "0xAbCdEf1234567890AbCdEf1234567890AbCdEf12"
        }
      },
      "SettleRequest": {
        "type": "object",
        "required": ["paymentPayload", "paymentRequirements"],
        "properties": {
          "paymentPayload": {
            "$ref": "#/components/schemas/PaymentPayload"
          },
          "paymentRequirements": {
            "$ref": "#/components/schemas/PaymentRequirements"
          }
        }
      },
      "SettleResponse": {
        "type": "object",
        "required": ["success", "transaction", "network"],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "payer": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Payer wallet address"
          },
          "transaction": {
            "type": "string",
            "description": "Transaction hash or session ID"
          },
          "network": {
            "type": "string",
            "description": "CAIP-2 network identifier"
          },
          "session": {
            "$ref": "#/components/schemas/SessionInfo",
            "description": "Session info (for escrow scheme)"
          }
        },
        "example": {
          "success": true,
          "payer": "0xAbCdEf1234567890AbCdEf1234567890AbCdEf12",
          "transaction": "abc123-session-id",
          "network": "eip155:8453",
          "session": {
            "id": "abc123-session-id",
            "token": "secret-token-store-this",
            "balance": "9990000",
            "expiresAt": 1735686000
          }
        }
      },
      "PaymentPayload": {
        "type": "object",
        "required": ["x402Version", "accepted", "payload"],
        "properties": {
          "x402Version": {
            "type": "integer",
            "enum": [2]
          },
          "accepted": {
            "$ref": "#/components/schemas/PaymentRequirements"
          },
          "payload": {
            "oneOf": [
              { "$ref": "#/components/schemas/ExactPayload" },
              { "$ref": "#/components/schemas/EscrowPayload" }
            ]
          }
        }
      },
      "ExactPayload": {
        "type": "object",
        "required": ["signature"],
        "properties": {
          "signature": {
            "type": "string",
            "description": "ERC-3009 transferWithAuthorization signature"
          }
        }
      },
      "EscrowPayload": {
        "oneOf": [
          { "$ref": "#/components/schemas/EscrowSessionCreate" },
          { "$ref": "#/components/schemas/EscrowSessionUsage" }
        ]
      },
      "EscrowSessionCreate": {
        "type": "object",
        "required": ["signature", "authorization", "sessionParams", "requestId"],
        "properties": {
          "signature": {
            "type": "string",
            "description": "ERC-3009 transferWithAuthorization signature"
          },
          "authorization": {
            "type": "object",
            "required": ["from", "to", "value", "validAfter", "validBefore", "nonce"],
            "properties": {
              "from": {
                "type": "string",
                "description": "Payer wallet address"
              },
              "to": {
                "type": "string",
                "description": "Token collector address"
              },
              "value": {
                "type": "string",
                "description": "Deposit amount in atomic units"
              },
              "validAfter": {
                "type": "string",
                "description": "Unix timestamp as string (usually '0')"
              },
              "validBefore": {
                "type": "string",
                "description": "Unix timestamp as string"
              },
              "nonce": {
                "type": "string",
                "description": "Computed escrow nonce (bytes32 hex)"
              }
            }
          },
          "sessionParams": {
            "type": "object",
            "required": ["salt", "authorizationExpiry", "refundExpiry"],
            "properties": {
              "salt": {
                "type": "string",
                "description": "Random bytes32 hex"
              },
              "authorizationExpiry": {
                "type": "integer",
                "description": "Unix timestamp - when session expires"
              },
              "refundExpiry": {
                "type": "integer",
                "description": "Unix timestamp - refund window end"
              }
            }
          },
          "requestId": {
            "type": "string",
            "format": "uuid",
            "description": "Idempotency key"
          }
        }
      },
      "EscrowSessionUsage": {
        "type": "object",
        "required": ["session", "requestId", "amount"],
        "properties": {
          "session": {
            "type": "object",
            "required": ["id", "token"],
            "properties": {
              "id": {
                "type": "string",
                "description": "Session ID from creation response"
              },
              "token": {
                "type": "string",
                "description": "Session token (secret) from creation response"
              }
            }
          },
          "requestId": {
            "type": "string",
            "format": "uuid",
            "description": "Idempotency key for this request"
          },
          "amount": {
            "type": "string",
            "description": "Payment amount in atomic units"
          }
        },
        "example": {
          "session": {
            "id": "abc123-session-id",
            "token": "secret-session-token"
          },
          "requestId": "550e8400-e29b-41d4-a716-446655440001",
          "amount": "10000"
        }
      },
      "PaymentRequirements": {
        "type": "object",
        "required": ["scheme", "network", "amount", "payTo"],
        "properties": {
          "scheme": {
            "type": "string",
            "enum": ["exact", "escrow"]
          },
          "network": {
            "type": "string",
            "description": "CAIP-2 network identifier",
            "example": "eip155:8453"
          },
          "amount": {
            "type": "string",
            "description": "Payment amount in atomic units (e.g., '50000' = $0.05 USDC)"
          },
          "payTo": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Receiver's wallet address"
          },
          "asset": {
            "type": "string",
            "description": "CAIP-19 asset identifier (defaults to USDC)"
          }
        },
        "example": {
          "scheme": "escrow",
          "network": "eip155:8453",
          "amount": "10000",
          "payTo": "0x1234567890123456789012345678901234567890"
        }
      },
      "SessionInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Session ID"
          },
          "token": {
            "type": "string",
            "description": "Session token - SECRET, only returned on creation, store securely"
          },
          "balance": {
            "type": "string",
            "description": "Remaining available balance in atomic units"
          },
          "expiresAt": {
            "type": "integer",
            "description": "Unix timestamp when authorization expires"
          }
        }
      }
    }
  }
}
